body {
    background-color: #A9A9A9;
}

nav {
    background-color: #8f8f8f;
}

.navbar {}

.navbar-brand,
.nav-link {
    color: #B0BAD1;
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    margin-top: -20px;
    margin-bottom: -25px;
}

.navbar-brand {
   
}

.nav-link {
    font-size: 30px;
}

.contact-section {
}

