body {
    background-color: #A9A9A9;
}

nav {
    background-color: #8f8f8f;
}

.navbar {}

.navbar-brand,
.nav-link {
    color: #B0BAD1;
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    margin-top: -20px;
    margin-bottom: -25px;
}

.navbar-brand {}

.nav-link {
    font-size: 30px;
}

.banner {
    background-image: url("../img/Naturephoto.png");
    width: 100%;
    text-align: center;
    pointer-events: none;
}

#welcome {

    font-family: 'lora', serif;
    font-size: 300px;
    margin: -50px 0px -50px 0px;

    background-color: #f3ec78;
    background: linear-gradient(to bottom, #006eff, #4E5FBA 40%, #ffffff55 65%, #ffffff15 75%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: 0.8;

}

.intro {

    margin-bottom: -20px;

}

.text-boxes {
    margin: 0 auto;
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;

}

.text-box {
    margin: 15px;
    width: 440px;
    padding: 1%;
    background-color: white;
    overflow: hidden;
    text-align: center;

    float: left;
    height: 400px;

    animation: fadeIn 1.25s;
    -webkit-animation: fadeIn 1.25s;
    -moz-animation: fadeIn 1.25s;
    -o-animation: fadeIn 1.25s;
    -ms-animation: fadeIn 1.25s;

    position: relative;

    transition: margin 0.5s, transform 0.5s;
    -webkit-transition: margin 0.5s, transform 0.5s;

    box-shadow: 0px 6px 11px -4px #5F5F5F;

}

.text-box:hover {
    transform: scale(1.07) translateY(-5%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}